DATABASE_URL=
MAIL_USERNAME = 
MAIL_PASSWORD =
MAIL_FROM =
MAIL_PORT =
MAIL_SERVER =
MAIL_FROM_NAME =
FORGET_PWD_SECRET_KEY =
ALGORITHM =
FORGET_PASSWORD_LINK_EXPIRE_MINUTES =
APP_HOST =
FRONTEND_URL =
SECRET_KEY = 