body { 
    font-family: system-ui; 
    margin: 0; 
    background: #fff; 
}

.container { 
    display: flex; 
    flex-direction: column; 
}

.content { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    background: #fff; 
    min-height: 100vh; 
}

.form-section { 
    display: flex; 
    flex-direction: column; 
    margin: 0 80px; 
    padding: 20px; 
    border-radius: 8px; 
}

.titles { 
    margin-bottom: 48px; 
    display: flex; 
    flex-direction: column; 
    gap: 8px; 
}

.app-title { 
    color: #1F2937; 
    font-size: 20px; 
    font-weight: bold; 
}

.form-title { 
    color: #1F2937; 
    font-size: 42px; 
    font-weight: bold; 
}

.form-group { 
    margin-bottom: 16px; 
    display: flex; 
    flex-direction: column; 
    gap: 4px; 
}

.form-group2 {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
}
.form-group2 input {
  width: 100%;
  box-sizing: border-box;
}

.label { 
    color: #1F2937; 
    font-size: 14px; 
    font-weight: bold; 
}

.input { 
    background: #E5E7EB; 
    padding: 13px 16px; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    font-weight: bold; 
    color: #697077; 
}

.error { 
    color: #FF383C; 
    font-size: 12px; 
    font-weight: bold; 
    display: none; 
}
.error.active { 
    display: block; 
}

.forgot { 
    display: flex; 
    justify-content: left; 
    margin: 16px 0;

}

.btn-primary { 
    background: #1D4ED8; 
    border-radius: 8px; 
    border: 2px solid #1D4ED8; 
    padding: 16px; 
    color: #fff; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    margin-bottom: 16px; 
}

.btn-google { 
    display: flex; 
    justify-content: center;
    align-items: center; 
    border-radius: 8px; 
    border: 2px solid #1D4ED8; 
    padding: 12px; 
    gap: 15px; 
    cursor: pointer; 
}

.btn-google img { 
    border-radius: 8px; 
    width: 24px; 
    height: 24px; 
    object-fit: fill; 
}

.btn-google span { 
    color: #1D4ED8; 
    font-size: 16px; 
    font-weight: bold; 
}

.divider { 
    height: 1px; 
    background: #DDE1E6; 
    margin: 47px 0; 
}

.signup, .signin { 
    color: #1F2937; 
    font-size: 14px; 
    font-weight: bold; 
    text-decoration: none;
}

.side-image { 
    width: 70%; 
    height: auto; 
    object-fit: cover; 
    justify-self: center; 
}

@media (max-width: 1024px) {
  .content { 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 
}
  .form-section { 
    margin: 20px; 
}
  .side-image { 
    height: auto; 
    margin-top: 20px; 
    border-radius: 8px; 
}
  .btn-primary, .btn-google { 
    width: 100%; 
}
}

@media (max-width: 480px) {
  .form-title { 
    font-size: 24px; 
}
  .app-title { 
    font-size: 16px;
 }
  .input { 
    font-size: 14px; 
}
  .btn-primary span, .btn-google span { 
    font-size: 14px; 
}
}

.boton-invisible {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #2563EB;
    cursor: pointer;
    font-size: 14px; 
    text-decoration:none;
}

.boton-invisible:hover {
    color: #004499;
}

/*modal Olvidaste tu contrasena
/* Overlay */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000; /* Asegura que esté por encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    align-items: center;
    justify-content: center;
}

/* Muestra el modal cuando se le añade la clase 'mostrar' */
.modal.mostrar {
    display: flex;
}

/* 2. Caja del modal */
.contenido-modal {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.signup {
  text-decoration: underline;
  font-weight: bold;
  color: #1D4ED8;
  display: inline;
}

.contenido-modal p{
   text-align:center;
}
.contenido-modal h2{
   text-align:center;
}

#modalOlvidar .btn-primary{
  width: 100%;
  text-align: center;     
  justify-content: flex-start;
}

#modalOlvidar .form-group{
  width: 100%;
  text-align: left;     
  justify-content: flex-start;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    }

/*Contenido Dashbooard*/
.componente-header{
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid #1D4ED8;
}

.grid-contenedor {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    min-height: 100vh;
}

.componente-tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 20px;
}
.componente-tarjetas1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 20px;
}
.componente-tarjetas2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    padding: 20px;
}

.componente-main2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 20px;
    font-weight: bold;
}

.componente-header { grid-area: header; }
.componente-sidebar { grid-area: sidebar; }
.componente-main { grid-area: main; }