<link rel="stylesheet" href="../static/styles.css">
<div id="modalTransax" class="modal">
<div class="form-section">
    <div class="titles">
        <span class="app-title">Finance tracker</span>
        <span class="form-title">Iniciar Sesión</span>
    </div>

    <div class="form-group">
        <label class="label">Email</label>
        <input type="text" class="input" id="email" placeholder="Tu correo">
        <span class="error" id="error-email"></span>
    </div>

    <div class="form-group">
        <label class="label">Contraseña</label>
        <input type="password" class="input" id="password" placeholder="Tu contraseña">
        <span class="error" id="error-password"></span>
    </div>
</div>
</div>