<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta Personal</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="grid-contenedor">
        
        <!-- HEADER -->
        <header class="componente-header">
            <h1>Dashboard privado</h1>
            <!--
            <div class="header-acciones">
                <button type="button" class="boton-icono" aria-label="Notificaciones">
                </button>
                <button type="button" class="boton-ayuda" aria-label="Ayuda">
                </button>
            </div>
            -->
        </header>

        <!-- SIDEBAR -->
        <div id="sidebar-placeholder"></div>

        <!-- CONTENIDO PRINCIPAL -->
        <main class="componente-main">

            <!-- TARJETAS SUPERIORES -->
            <section class="componente-tarjetas">

                <article class="componente-tarjetas1">
                    <div class="tarjeta-info">
                        <p class="tarjeta-titulo">Balance total</p>
                        <h2 class="tarjeta-monto">$0.00</h2>

                        <div class="tarjeta-fecha">
                            <span class="punto-verde"></span>
                            <span>Junio 2026</span>
                        </div>
                    </div>
                </article>

                <article class="componente-tarjetas2">
                    <div class="tarjeta-info">
                        <p class="tarjeta-titulo">Ahorro total</p>
                        <h2 class="tarjeta-monto">$0.00</h2>

                        <div class="tarjeta-fecha">
                            <span class="punto-verde"></span>
                            <span>Junio 2026</span>
                        </div>
                    </div>
                </article>

                <div class="tarjetas-resumen-lateral">

                    <article class="tarjeta-resumen">
                        <div class="tarjeta-resumen-icono ingreso">
                            ↗
                        </div>

                        <div class="tarjeta-resumen-info">
                            <p>Ingreso total</p>
                            <h3>$0.00</h3>
                        </div>
                    </article>

                    <article class="tarjeta-resumen">
                        <div class="tarjeta-resumen-icono egreso">
                            ↘
                        </div>

                        <div class="tarjeta-resumen-info">
                            <p>Egreso total</p>
                            <h3>$0.00</h3>
                        </div>
                    </article>

                </div>

            </section>

            <!-- ZONA INFERIOR -->
            <section class="componente-main2">

                <!-- TRANSACCIONES -->
                <section class="componente-transacciones">

                    <div class="titulo-seccion">
                        <h2>Transacciones recientes</h2>
                        <a href="#">Ver todo</a>
                        <img src="../static/img/icono-mas.png" height="25px" id="clickable-img"/>
                    </div>

                    <div class="tabla-contenedor">
                        <table class="tabla-transacciones">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Categoría</th>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="clickable-row"  data-id="{id}" data-amount="{amount}" data-type="{type_id}" 
                                data-category="{category_id}" data-description="{description}" data-date="{creation_date}">
                                    <td>Jun 12, 2024</td>
                                    <td>
                                        <span class="categoria-etiqueta">Comida</span>
                                    </td>
                                    <td>Burger King</td>
                                    <td>-$13,250.00</td>
                                </tr>

                                <tr>
                                    <td>Jun 11, 2024</td>
                                    <td>
                                        <span class="categoria-etiqueta">Shopping</span>
                                    </td>
                                    <td>Todo Moda</td>
                                    <td>-$15,963.36</td>
                                </tr>

                                <tr>
                                    <td>Jun 10, 2024</td>
                                    <td>
                                        <span class="categoria-etiqueta">Salario</span>
                                    </td>
                                    <td>Ingreso mensual Mayo26</td>
                                    <td class="monto-positivo">+$500,700.00</td>
                                </tr>

                                <tr>
                                    <td>Jun 08, 2024</td>
                                    <td>
                                        <span class="categoria-etiqueta">Utilidades</span>
                                    </td>
                                    <td>Gas</td>
                                    <td>-$3,250.00</td>
                                </tr>

                                <tr>
                                    <td>Jun 05, 2024</td>
                                    <td>
                                        <span class="categoria-etiqueta">Transporte</span>
                                    </td>
                                    <td>Sube</td>
                                    <td>-$850.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </section>

                <!-- PRÓXIMAS FACTURAS -->
                <aside class="componente-cuentas">

                    <div class="titulo-seccion">
                        <h2>Próximas facturas</h2>
                        <img src="../static/img/icono-mas.png" height="25px" id="clickable-img2"/>
                    </div>

                    <div class="lista-facturas">

                        <article class="factura-card">
                            <div class="factura-fecha factura-fecha-roja">
                                <span>JUN</span>
                                <strong>15</strong>
                            </div>

                            <div class="factura-info">
                                <h3>Netflix</h3>
                                <p>Servicio mensual</p>
                            </div>

                            <div class="factura-monto">
                                <strong>$12,850.00</strong>
                                <span class="estado-factura estado-rojo">Vence pronto</span>
                            </div>
                        </article>

                        <article class="factura-card">
                            <div class="factura-fecha factura-fecha-verde">
                                <span>JUN</span>
                                <strong>22</strong>
                            </div>

                            <div class="factura-info">
                                <h3>Gym</h3>
                                <p>Suscripción</p>
                            </div>

                            <div class="factura-monto">
                                <strong>$30,000.00</strong>
                                <span class="estado-factura estado-pendiente">Pendiente</span>
                            </div>
                        </article>

                        <article class="factura-card">
                            <div class="factura-fecha factura-fecha-verde">
                                <span>JUN</span>
                                <strong>30</strong>
                            </div>

                            <div class="factura-info">
                                <h3>Luz</h3>
                                <p>Gastos hogar</p>
                            </div>

                            <div class="factura-monto">
                                <strong>$12,850.00</strong>
                                <span class="estado-factura estado-pendiente">Pendiente</span>
                            </div>
                        </article>

                    </div>

                    <button type="button" class="boton-gestionar">
                        Gestionar todos los gastos
                    </button>

                </aside>

            </section>
            <div id="modalTransax" class="modal">
                <div class="content-modal">
                    <span class="close" onclick="ModalManager.close('modalTransax')">&times;</span> 
                    <h2 style="color:#1F2937; margin:0">Detalle de Transacción</h2>
                    
                    <table class="tabla-detalle">
                        <tr><td>ID:</td><td id="data-id"></td></tr>
                        <tr><td>Tipo:</td><td id="data-type"></td></tr>
                        <tr><td>Categoría:</td><td id="data-category"></td></tr>
                        <tr><td>Descripción:</td><td id="data-description"></td></tr>
                        <tr><td>Monto:</td><td id="data-amount"></td></tr>
                        <tr><td>Fecha:</td><td id="data-date"></td></tr>
                    </table>
                    <div class="acciones-modal">
                        <button id="btnEdit" class="btn-secondary">Editar</button>
                        <button id="btnDelete" class="btn-primary btn-red">Eliminar</button>
                    </div>
                </div>
            </div>
            <div id="modalNewTransax" class="modal">
                <div class="content-modal">
                    <span class="close" onclick="ModalManager.close('modalNewTransax')">&times;</span> 
                    <h2 style="color:#1F2937; margin:0;">Nueva Transacción</h2>
                    <div class="form-section">
                        <div class="form-group" >
                            <label class="label">Monto</label>
                            <input type="text" class="input" id="amount" placeholder="$ 0.00" oninput="moneyFormat(this)">
                            <span class="error" id="error-amount"></span>
                        </div>

                        <div class="form-group">
                            <label class="label">Fecha</label>
                            <input type="date" class="input" id="date">
                            <span class="error" id="error-date"></span>
                        </div> 

                        <div class="form-group">
                            <label class="label">Categoría</label>
                            <select id="category-drop" class="input" >
                            <option value="">Seleccionar</option>
                            </select>
                            <span class="error" id="error-category"></span>
                        </div>

                        <div class="form-group">
                            <label class="label">Descripción</label>
                            <textarea class="input" id="description-text" name="description" rows="3" cols="40" placeholder="¿Para qué era esto?" maxlength="25"></textarea>
                            <div id="char-counter">0 / 25 caracteres</div>
                            <span class="error" id="error-description"></span>
                        </div>

                        <div class="acciones-modal">
                            <button id="btnSave" class="btn-primary">Guardar Transacción</button>
                            <button id="btnGoback" class="btn-secondary" onclick="ModalManager.close('modalNewTransax')">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modalEditTransax" class="modal">
                <div class="content-modal">
                    <span class="close" onclick="ModalManager.close('modalEditTransax')">&times;</span> 
                    <h2 style="color:#1F2937; margin:0;">Modificar datos de Transacción</h2>
                    <div class="form-section">
                        <div class="form-group" >
                            <label class="label">Monto</label>
                            <input type="text" class="input" id="new-amount" placeholder="$ 0.00" oninput="moneyFormat(this)">
                            <span class="error" id="error-amount"></span>
                        </div>

                        <div class="form-group">
                            <label class="label">Fecha</label>
                            <input type="date" class="input" id="new-date">
                            <span class="error" id="error-date"></span>
                        </div> 

                        <div class="form-group">
                            <label class="label">Categoría</label>
                            <select id="new-category-drop" class="input" >
                            <option value="">Seleccionar</option>
                            </select>
                            <span class="error" id="error-category"></span>
                        </div>

                        <div class="form-group">
                            <label class="label">Descripción</label>
                            <textarea class="input" id="new-description-text" name="description" rows="3" cols="40" placeholder="¿Para qué era esto?" maxlength="25"></textarea>
                            <div id="char-counter">0 / 25 caracteres</div>
                            <span class="error" id="error-description"></span>
                        </div>

                        <div class="acciones-modal">
                            <button id="btnSave" class="btn-primary">Guardar cambios</button>
                            <button id="btnGoback" class="btn-secondary" onclick="ModalManager.close('modalEditTransax')">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modalNewExpense" class="modal">
                <div class="content-modal">
                    <span class="close" onclick="ModalManager.close('modalNewExpense')">&times;</span> 
                    <h2 style="color:#1F2937; margin:0;">Nuevo Gasto Planeado</h2>
                    <div class="form-section">
                        <div class="form-group">
                            <label class="label">Monto total</label>
                            <input type="text" class="input" id="amount-exp" placeholder="$ 0.00" oninput="moneyFormat(this)">
                            <span class="error" id="error-amount-exp"></span>
                        </div>

                        <div class="form-group2">
                            <div>
                                <label class="label">Fecha de inicio</label>
                                <input type="date" class="input" id="start-date-exp">
                                <span class="error" id="error-start-date-exp"></span>
                            </div>
                            <div>
                                <label class="label">Fecha de vencimiento</label>
                                <input type="date" class="input" id="due-date-exp">
                                <span class="error" id="error-due-date-exp"></span>
                            </div>
                        </div>

                        <div class="form-group2">
                            <div>
                                <label class="label">Cantidad de cuotas</label>
                                <input type="number" class="input" id="installment-number-exp" placeholder="Ej: 12" min="1">
                                <span class="error" id="error-installment-number-exp"></span>
                            </div>
                            <div>
                                <label class="label">Monto por cuota</label>
                                <input type="text" class="input" id="installment-amount-exp" placeholder="$ 0.00" oninput="moneyFormat(this)">
                                <span class="error" id="error-installment-amount-exp"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Descripción</label>
                            <textarea class="input" id="description-text-exp" rows="3" placeholder="¿Para qué es este gasto?" maxlength="25"></textarea>
                            <div id="char-counter-exp">0 / 25 caracteres</div>
                            <span class="error" id="error-description-exp"></span>
                        </div>

                        <div class="acciones-modal">
                            <button id="btnSaveExp" class="btn-primary" onclick="saveExpense()">Guardar Gasto</button>
                            <button class="btn-secondary" onclick="ModalManager.close('modalNewExpense')">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/app/static/scripts.js"></script>
</body>
</html>