<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cuenta Personal</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
    <div class="grid-contenedor">
        <div class="componente-header">Dashboard privado</div>
        <div class="componente-sidebar">Sidebar</div>
        <div class="componente-main">
            <div class="componente-tarjetas">
                <div class="componente-tarjetas1">Trajetas 1</div>
                <div class="componente-tarjetas2">Tarjetass 2</div>
            </div>
        <div class="componente-main2">
            <div class="componente-transacciones">Transacciones recientes</div>
            <div class="componente-cuentas">Próximas facturas</div>
        </div>
        </div>        
    </div>
    </body>
</html>