<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="form-section">
        <div class="titles">
          <span class="app-title">Finance tracker</span>
          <span class="form-title">Iniciar Sesión</span>
        </div>

        <div class="form-group">
          <label class="label">Email</label>
          <input type="text" class="input" id="email" placeholder="Tu correo">
          <span class="error" id="error-email"></span>
        </div>

        <div class="form-group">
          <label class="label">Contraseña</label>
          <input type="password" class="input" id="password" placeholder="Tu contraseña">
          <span class="error" id="error-password"></span>
        </div>

        <div class="forgot">
          <button id="abrirModal" class="boton-invisible">¿Olvidaste tu contraseña?</button>
        </div>

        <button class="btn-primary" onclick="login()">
          <span title="Ingresar">Ingresar</span>
        </button>

        <div class="btn-google">
          <img src="../static/img/google_logo.png" alt="Google logo">
          <span  title="Ingresar con Google">Ingresar con Google</span>
        </div>

        <div class="divider"></div>

        <p>Si todavía no tienes una cuenta, puedes crear una <a href="register.html" class="signup">aquí.</a></p>
      </div>

      <img class="side-image" src="../static/img/Personal Home Finance 2 (1).png" alt="Finance illustration">
    </div>
  </div>
  <div id="modalOlvidar" class="modal">
  <div class="contenido-modal">
    <span class="cerrar" id="cerrarModal">&times;</span>
    <!-- Vista 1: envio de link -->
    <div id="vistaForm">
      <h2>¿Olvidaste tu contraseña?</h2>
      <p>No hay de qué preocuparse, te enviaremos un enlace para restablecerla.</p>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="input" id="reset-email" placeholder="Tu correo">
        <span class="error" id="error-reset"></span>
      </div>
      <button class="btn-primary" onclick="enviarReset()">Enviar enlace</button>
      <div style="text-align: left; width: 100%;">
        Regístrate <a href="register.html" class="signup">aquí</a>.
      </div>
    </div>
    <!-- Vista 2: confirmacion -->
    <div id="vistaConfir" style="display: none; text-align: center;">
      <img src="../static/img/logo-OK.png" height="100px"/>
      <h2>Correo enviado</h2>
      <p>Revisa tu bandeja de entrada y actualiza tu contraseña.</p>
    </div>

  </div>
</div>
  <script src="../static/scripts.js"></script>
</body>
</html>
