<link rel="stylesheet" href="../static/styles.css">
<div class="sidebar">
  <div class="profile">
    <div class="contenedor-perfil">
      <img id="profile-pic" src="../static/img/perfil-mujer.avif"/>
    </div>
    <div class="profile-info">
      <p style="color:#131B2E; font-size: 14px;">Andi Johnson</p>
      <p style="color: #737B8B; font-size: 13px;">Cuenta privada</p>
    </div>
  </div>
  <div class="menu">
    <div class="menu-item-dashboard"><img src="../static/img/icono-dashboard.png" height="17px"/>Dashboard</div>
    <div class="submenu">
    <div>Dashboard Privado 1</div>
    <div>Dashboard Privado 2</div>
    <div>Dashboard Grupal 1</div>
    <div>Dashboard Grupal 2</div>
  </div>
    <div class="menu-item-dashboard"><img src="../static/img/icono-perfil.png" height="18px"/>Perfil de usuario</div>
  </div>
</div>