<link rel="stylesheet" href="../static/styles.css">
<div class="sidebar">
  <div class="profile">
    <div class="contenedor-perfil" style="padding:0;">
      <img id="profile-pic" src="../static/img/perfil-mujer.avif"/>
    </div>
    <div class="profile-info">
      <p style="color:#131B2E; font-size: 14px;">{{nombre_apellido}}</p>
      <p style="color: #737B8B; font-size: 13px;">{{tipo_de _cuenta}}</p>
    </div>
  </div>
  <div class="menu">
    <div class="menu-item-dashboard"><img src="../static/img/icono-dashboard.png" height="17px"/>Dashboard</div>
    <div class="submenu">
    <div>{{nombre_cuenta}}</div>
    <div>{{nombre_cuenta}}</div>
    <div>{{nombre_cuenta}}</div>
    <div>{{nombre_cuenta}}</div>
  </div>
    <div class="menu-item-dashboard"><img src="../static/img/icono-perfil.png" height="18px"/>Perfil de usuario</div>
  </div>
</div>